/* Fonts taget fra internettet*/
@font-face {
    font-family: inter;
    src: url(/fonts/inter-variablefont_slntwght-webfont.woff2);
    font-display: swap
}

@font-face {
    font-family: interb;
    src: url(/fonts/Inter-Bold.woff2);
    font-display: swap
}

/* Styling body */
body {
    font-family: inter;
    background-color: white;
    color: black;

}

p {
    max-width: 65ch;
    line-height: 2em;
}

h1 {
    font-family: interb;
    font-size: 7em;
}

h2 {
    font-family: interb;
}

h3 {
    font-family: interb;
}

.portfolio_headline {
    text-align: center;
}

/* Styling footer */
footer {
    font-family: interb;
    padding-left: 120px;
}

/* Styling sections og articles */
section {
    margin-top: 300px;
    padding-left: 120px;
    padding-bottom: 100px;
}

article {
    padding-top: 70px;
    padding-left: 120px;
    padding-right: 120px;
}

.border-right {
    border-right: solid 5px black;
}

.padding-top {
    padding-top: 15px;
}

.padding-bottom {
    padding-bottom: 500px;
}

.littlepadbot {
    padding-bottom: 70px;
}

/* Styling logo*/
#logo {
    position: absolute;
    left: 120px;
    top: 75px;
    width: auto;
    height: auto;
}

/* Styling global menu*/
#nav_list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

#nav_list li a {
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    display: block;
    height: 100%;
}

/* Styling af drop down menu */
nav li {
    position: relative;
}

nav li ul {
    position: absolute;
    visibility: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 200%;
    text-align: left;
    list-style: none;
    left: -38px;
}

nav li:hover ul {
    visibility: visible;
}

/* Links LoVeHAte */
a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: #F1F1ED;
}

a:hover {
    font-family: interb;
}

a:active {
    color: yellow
}

/* Buttons*/
.secondary-btn {
    background-color: #A0D9EB;
    color: white;
    font-size: 1em;
    padding: 14px 55px;
    text-align: center;
    width: 30%;
    height: 20%;
}

.secondary-btn:hover,
.secondary-btn.active {
    background-color: #88CCE2;
    color: white;
}

/* Styling af img */
img {
    width: 100%;
}

/* Styling af linje i midten på om_mig.html*/
@media screen and (min-width: 1200px) {

    .center-line {
        width: 5px;
        height: 200%;
        background-color: black;
        position: absolute;
        left: 740px;
    }
}

@media screen and (max-width: 1000px) {
    .center-line {
        display: none;
    }
}

.padding {
    padding-right: 50px;
}

/* Styling af grid-linjer på portfolio.html*/
@media screen and (min-width: 1200px) {
    #line1 {
        width: 5px;
        height: 150%;
        background-color: black;
        position: absolute;
        left: 417px;
        top: 90%;
    }

    #line2 {
        width: 5px;
        height: 150%;
        background-color: black;
        position: absolute;
        left: 717px;
        top: 90%;
    }

    #line3 {
        width: 5px;
        height: 150%;
        background-color: black;
        position: absolute;
        left: 1017px;
        top: 90%;
    }

    .border-bottom {
        border-bottom: solid 5px black;
    }
}

@media screen and (max-width: 1000px) {

    #line1,
    #line2,
    #line3 {
        display: none;
    }
}